<div style="margin-top:20px; text-align:center;">
    <p style=" font-style:italic; margin-bottom:8px;">Sharing is caring!</p>
    <div style="display:flex; gap:10px; align-items:center; justify-content:center;">
        <a href="https://x.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" target="_blank"
            rel="noopener" style="display:inline-block;">
            <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/x.svg" alt="Share on X" width="24"
                style="filter:grayscale(100%); transition:filter 0.2s ease-in-out;"
                onmouseover="this.style.filter='grayscale(0%)';" onmouseout="this.style.filter='grayscale(100%)';" />
        </a>
        <a href="https://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank"
            rel="noopener" style="display:inline-block;">
            <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/reddit.svg" alt="Share on Reddit"
                width="24" style="filter:grayscale(100%); transition:filter 0.2s ease-in-out;"
                onmouseover="this.style.filter='grayscale(0%)';" onmouseout="this.style.filter='grayscale(100%)';" />
        </a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}"
            target="_blank" rel="noopener" style="display:inline-block;">
            <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/linkedin.svg" alt="Share on LinkedIn"
                width="24" style="filter:grayscale(100%); transition:filter 0.2s ease-in-out;"
                onmouseover="this.style.filter='grayscale(0%)';" onmouseout="this.style.filter='grayscale(100%)';" />
        </a>

        <a href="https://t.me/share/url?url={{ site.url }}{{ page.url }}&text={{ page.title }}" target="_blank"
            rel="noopener" style="display:inline-block;">
            <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/telegram.svg" alt="Share on Telegram"
                width="24" style="filter:grayscale(100%); transition:filter 0.2s ease-in-out;"
                onmouseover="this.style.filter='grayscale(0%)';" onmouseout="this.style.filter='grayscale(100%)';" />
        </a>
    </div>
</div>